    body {
    background-color: #aaa8d5;
    padding: 0px;
}

main {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}

header {
    width: 100%;
    background: linear-gradient(to right, rgb(10, 9, 26), rgba(12, 11, 32, 0));
    border-radius: 15px;
    text-align: left;
    color: #ffffff;
    text-shadow: #151438;
}


div.customDiv2 {
    background-color: #11001c;
    border-radius: 15px;
    flex: 1;   /** flex: 1 sets the flex-grow, flex-shrink, and flex-basis properties to 1, **/
}

div.customDiv3 {
    background-color: #151438;
    border-radius: 15px;
    flex: 80%;
    min-height: 70vh;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    filter: grayscale(100%);
    transition: all 0.2s ease-in-out;
    margin: 10px;
    flex: 1 0 25%;
}

  .card:hover {
    filter: grayscale(0%);
  }

a:hover {
    color: rgb(63, 134, 233);
}

ul {
    list-style-type: none;
    padding: 0px;
    padding-top: 10px;
    margin: 10px;
    margin-left: 10px;
}
a {
    text-decoration: none;
    font-size: 20px;
    color: rgb(231, 227, 248);
    text-transform: uppercase;
}
.content-text,h1 {
    text-align: justify;
    padding: 10px;
    color: rgb(207, 206, 206);
}

.logo {
    
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 113px;
    height: 100px;
    background-color: #11001c;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    border-radius: 15px;
  }

  button:hover {
    transform: scale(1.1);
  }

@media (max-width: 519px) {
    .card {
        min-width: 42vh;
        background-color: rgb(86, 80, 237);
    }

    header {
        background-color: #2b0048;
    }

    div.customDiv2 {
        background-color: #11001c;
    }


    ul {
        display: flex;
        justify-content: space-between;
        height: 40px;
        padding: 5px;
    }
}

@media (min-width: 520px) {
    .card {
        max-width: 50vh;
        background-color: rgb(43, 144, 222);
        justify-content: center;
    }
}

.Custom_Card {
    color: white;
    padding: 10px;
    justify-content: left;
    order: -1;
}