    body {
    background-color: #aaa8d5;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}

header {
    width: 100%;
    font-size: 80px;
    background-image: linear-gradient(225deg, #29324f 0%, #434086 48%, #6470ca 100%);
    border-radius: 15px;
    text-align: left;
    color: #ffffff;
    text-shadow: #151438;
}


div.customDiv2 {
    background-color: rgb(12, 21, 48);
    border-radius: 15px;
    flex: 1;   /** Kui muuta flex width siis ei ole ääred ühtlasesd ja jookseb maha**/
}

div.customDiv3 {
    background-color: #151438;
    border-radius: 15px;
    flex: 80%;
    flex-grow: 2;
    min-height: 70vh;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    flex-basis: auto;
    justify-content: center;
    
}

.card {
    filter: grayscale(100%);
    transition: all 0.2s ease-in-out;
    margin: 10px;
    max-width: 20vw;
    min-width: 200px;
    
  }
  .card:hover {
    filter: grayscale(0%);
  }

a:hover {
    color: rgb(63, 134, 233);
}

ul {
    list-style-type: none;
    
    padding: 0px;
    padding-top: 10px;
    margin: 10px;
    margin-left: 10px;
}


a {
    text-decoration: none;
    font-size: 20px;
    color: rgb(231, 227, 248);
    text-transform: uppercase;
}


.content-text,h1 {
    text-align: justify;
    padding: 10px;
    color: rgb(207, 206, 206);
}
